<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
</head>
<body>
	<div th:fragment="errorMessages">
			<label id="errorMessageNoMach" class="errorText"><font color="red"><b>Šifre se ne poklapaju!</b></font></label>
			<label id="errorMessageWrongOld" class="errorText"><font color="red"><b>Stara lozinka pogrešna!</b></font></label>
			<label id="successMessage" class="errorText"><font color="green"><b>Uspešno izmenjena lozinka!</b></font></label>
    </div>
</body>
</html>