h1 {
    color:#000000;
}
 
h2 {
    color:#000000;
    margin-left: 35px;
}

.errorText {
	font-weight: bold;
	color: red;
}

.messageText {
	font-weight: bold;
	color: green;
	font-size: 25px;
}

.divBorder {
	border-style: solid;
	border-width: 6px;
	border-color: green;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 0.25rem;
}

.successText {
	font-weight: bold;
	color: green;
}

.fontWeightBold {
		font-weight: bold;
	}

.sameRow {
	display: flex;
}

.tbodyPackage {
	display: block;
    height: auto;
    max-height: 300px;
    width: auto;
    max-width: 300px;
    overflow-y: auto;
    overflow-x: auto;
}

.thead {
	width: auto;
	color: #fff;
  	background-color: #ababab;
  	border-color: #ababab;
}

.trow {
	width: auto;
	color: #000;
  	background-color: #ffffff;
  	border-color: #ffffff;
}

.tablePackage {
	border: 1px solid #ddd;
	width: auto;
	max-width: 100%;
	margin-bottom: 1rem;
	margin-right: 3rem;
	border-radius: 0.25rem;
	background-color: transparent
}

.tablePackageClientManagement {
	border: 1px solid #ddd;
	width: auto;
	max-width: auto;
	margin-bottom: 1rem;
	margin-right: 3rem;
	border-radius: 0.25rem;
	background-color: transparent
}

.tablePackage td, .tablePackage th {
	padding: .75rem;
	vertical-align: top;
}

.tablePackage thead th {
	vertical-align: bottom;
}

.tablePackage tbody+tbody {
}

.text-align-right { text-align:right; }

.home {

	color:#000000;
	margin-left:35px;
	padding-bottom:10px;
	font-weight:bold
}

.highlighted {
	background-color:#1ea043
}

#hidden_input {display : none};

.hidden_column {display : none};

table {
    border-collapse: collapse;
}
 
p {
	margin-left: 35px
}

.divPackage {
  border: 1px solid #ddd;
  margin-left: 35px;
}

.twoButtonsDiv {
	margin-left: 35px
}
 
table th, table td {
    padding: 5px;
}

table {
	    margin-left: 35px;
}

.trBox {
	width: 20%;
	max-width: 20%;
}

.th {
	width: 10%;
	max-width: 10%;
}

.button1 {width: 220px;
		  height: 220px;
		  color: #fff;
	      background-color: #28a745;
	      border-color: #28a745;
		  }
.buttonFolders {width: 220px;
		  		height: 90px;
		  		color: #fff;
	      		background-color: #28a745;
	      		border-color: #28a745;
		  		}

.div1 { background: #dcdcdc}

.floating-box { float: left;}

.folderName { color: #000000;}

.gradient {background: linear-gradient(to top left, white 10%, #B8B8B8 70%);}

.gradient1 {background: #B8B8B8;}

.tableX, .tdX {
	border-collapse: collapse;
    border: 1px solid black;
}

.calc td:nth-child(1) {
  width: 200px;
}
.calc td:nth-child(2) {
  width: 200px;
}
.calc td:nth-child(3) {
  width: 200px;
}

.label-width {
	width: 150px;
}

.label-width-1 {
	width: 100px;
}

.table-height {
	       overflow-y:scroll;
  		   height:500px;
		   display:block;
}

#search { float: right };

.dropbtn {
  background-color: #4CAF50;
  color: white;
  border: none;
}

.dropdown {
  margin-right: 35px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  width: 150px;
  z-index: 1;
  position: absolute;
  right: 0px;
  background-color: #f1f1f1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.left-spacing-nbsp {
  margin-left: 10px;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.RowDiv {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.ColumnDiv {
    display: table-cell;
}

.centerDiv {
  margin: auto;
  width: 50%;
  border: 3px solid #73AD21;
  padding: 10px;
}

.centerIMG {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

.headerTable {
	width: 98%;
}

.headerTable1 {
	width: 98%;
	height: 5%;
}

.headerTable2 {
	width: 50%;
	height: 5%;
}

.headerTD1 {
	width: 33%;
}

.headerTD2 {
	width: 33%;
	padding-bottom: 5%;
}

hr {
	position: relative; 
	border: none; 
	height: 2px; 
	background: black; 
}

.modal-content1 {
	position: relative;
  	display: -ms-flexbox;
  	display: flex;
  	-ms-flex-direction: column;
  	flex-direction: column;
  	width: 100%;
  	pointer-events: auto;
  
   
    height: 77%;
    
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}

.modal-content2 {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-footer1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  witdth : 100%;
  background-color: #fff;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}

.modal-header1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal2__header {
    height: 13%;
    background-color: #fff;
}
.modal2__footer {
	position: absolute;
    height: 10%;
    width: 100%;
    bottom: 0;
    background-color: #fff;
}

.modal2__content {
    overflow-y: auto;
}

.modal1 {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.selectExercises {
	margin-top: 50px;
	margin-left: 50px;
}

.selectExercises {
	margin-top: 50px;
	margin-right: 50px;
}

.modal.open {
   display: block;
}

.modal__header,
.modal__footer {
    height: 100px;
}
.modal__content,
.modal__footer {
    position: absolute;
    width: 100%;
}
.modal__content {
    bottom: 100px;
    top: 100px;
    overflow-y: auto;
}
.modal__footer {
    bottom: 0;
}

.close1 {
  float: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.leftButton {
  margin-top: 1%;
  margin-left: 1%;
}

.rightButton {
  margin-top: 1%;
  margin-right: 1%;	
}

.tableMinWidth {
  min-width : 100%;
}

.trainingTbody {
  min-width : 100%;
  max-width : 100%;
  width : 100%;
  display: table;
}