h1 {
    color:#000000;
}
 
h2 {
    color:#000000;
    margin-left: 35px;
}

.home {

	color:#000000;
	margin-left:35px;
	padding-bottom:10px;
	font-weight:bold
}

.highlighted{
	background-color:#1ea043
}

#hidden_input {display : none};

.hidden_column {display : none};

table {
    border-collapse: collapse;
}
 
p {
	margin-left: 35px
}
 
.twoButtonsDiv {
	margin-left: 35px
}
 
table th, table td {
    padding: 5px;
}

table {
	    margin-left: 35px;
}

.trBox {
	width: 20%;
	max-width: 20%;
}

.th {
	width: 10%;
	max-width: 10%;
}

.table-calendar {
  width: 70%;
  max-width: 70%;
  float: right;
}
.button1 {width: 220px;
		  height: 220px;
		  color: #fff;
	      background-color: #28a745;
	      border-color: #28a745;
		  }
.buttonFolders {width: 220px;
		  		height: 90px;
		  		color: #fff;
	      		background-color: #28a745;
	      		border-color: #28a745;
		  		}

.div1 { background: #dcdcdc}

.gradient {background: linear-gradient(to top left, white 10%, #B8B8B8 70%);}

.gradient1 {background: linear-gradient(to left, white 10%, #B8B8B8 70%);}

.tableX, .tdX {
	border-collapse: collapse;
    border: 1px solid black;
}

.calc td:nth-child(1) {
  width: 200px;
}
.calc td:nth-child(2) {
  width: 200px;
}
.calc td:nth-child(3) {
  width: 200px;
}

.label-width {
	width: 150px;
}

.label-width-1 {
	width: 100px;
}

.table-height {
	       overflow-y:scroll;
  		   height:500px;
		   display:block;
}

#search { float: right };