<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="../../scripts/jquery-3.2.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
<link rel="stylesheet" href="/resources/demos/style.css"/>
<meta charset="utf-8"/>
	<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<script>
  
  $(document).on("click", "#testButton", function(event) {
		var test = $(this).find('.ui-state-default.ui-state-active').text()
		console.log(test);
		console.log("Hello world!");
		alert('TEST BLAAA : ' + test)
		$('#calendarInput').val(test);
	});
 // $("#my-input").datepicker(); 
 $(function (){
  $("#calendarDiv").datepicker({
	    onSelect: function() { 
	        var dateObject = $(this).datepicker('getDate'); 
	        $('#calendarInput').val(dateObject);
	    }
	});
 });
</script>
</head>
<body>

<div class="alert div1" role="alert">
	<a href="/" class="home">Početna</a>
	<h1 align="center">Kalendar</h1>
</div>

<div class="row">

<div class="div-date-picker">
	<div id="calendarDiv"></div>
	<input type="hidden" id="calendarInput" ></input>
	<br/>
	<h3><b>Treneri : </b></h3>
</div>

<table class="table-calendar">
	<thead></thead>
	<tbody>
		<tr class="table tr">
			<th class="table-bordered th"></th>
			<th class="table-bordered th">Ponedeljak</th>
			<th class="table-bordered th">Utorak</th>
			<th class="table-bordered th">Sreda</th>
			<th class="table-bordered th">Cetvrtak</th>
			<th class="table-bordered th">Petak</th>
			<th class="table-bordered th">Subota</th>
			<th class="table-bordered th">Nedelja</th>
			</tr>
		<tr class="table tr">
			<td class="table-bordered">08:00</td>
			<td class="table-bordered">2</td>
			<td class="table-bordered">3</td>
			<td class="table-bordered">4</td>
			<td class="table-bordered">5</td>
			<td class="table-bordered">6</td>
			<td class="table-bordered">8</td>
			<td class="table-bordered">9</td>
		</tr>
		<tr class="table tr">
			<td class="table-bordered">08:30</td>
			<td class="table-bordered">2</td>
			<td class="table-bordered">3</td>
			<td class="table-bordered">4</td>
			<td class="table-bordered">5</td>
			<td class="table-bordered">6</td>
			<td class="table-bordered">8</td>
			<td class="table-bordered">9</td>
		</tr>
		<tr class="table tr">
			<td class="table-bordered">09:00</td>
			<td class="table-bordered">2</td>
			<td class="table-bordered">3</td>
			<td class="table-bordered">4</td>
			<td class="table-bordered">5</td>
			<td class="table-bordered">6</td>
			<td class="table-bordered">8</td>
			<td class="table-bordered">9</td>
		</tr>
		<tr class="table tr">
			<td class="table-bordered">09:30</td>
			<td class="table-bordered">2</td>
			<td class="table-bordered">3</td>
			<td class="table-bordered">4</td>
			<td class="table-bordered">5</td>
			<td class="table-bordered">6</td>
			<td class="table-bordered">8</td>
			<td class="table-bordered">9</td>
		</tr>
		<tr class="table tr">
			<td class="table-bordered">10:00</td>
			<td class="table-bordered">2</td>
			<td class="table-bordered">3</td>
			<td class="table-bordered">4</td>
			<td class="table-bordered">5</td>
			<td class="table-bordered">6</td>
			<td class="table-bordered">8</td>
			<td class="table-bordered">9</td>
		</tr>
		<tr class="table tr">
			<td class="table-bordered">10:30</td>
			<td class="table-bordered">2</td>
			<td class="table-bordered">3</td>
			<td class="table-bordered">4</td>
			<td class="table-bordered">5</td>
			<td class="table-bordered">6</td>
			<td class="table-bordered">8</td>
			<td class="table-bordered">9</td>
		</tr>
		<tr class="table tr">
			<td class="table-bordered">11:00</td>
			<td class="table-bordered">2</td>
			<td class="table-bordered">3</td>
			<td class="table-bordered">4</td>
			<td class="table-bordered">5</td>
			<td class="table-bordered">6</td>
			<td class="table-bordered">8</td>
			<td class="table-bordered">9</td>
		</tr>
		<tr class="table tr">
			<td class="table-bordered">11:30</td>
			<td class="table-bordered">2</td>
			<td class="table-bordered">3</td>
			<td class="table-bordered">4</td>
			<td class="table-bordered">5</td>
			<td class="table-bordered">6</td>
			<td class="table-bordered">8</td>
			<td class="table-bordered">9</td>
		</tr>
		<tr class="table tr">
			<td class="table-bordered">12:00</td>
			<td class="table-bordered">2</td>
			<td class="table-bordered">3</td>
			<td class="table-bordered">4</td>
			<td class="table-bordered">5</td>
			<td class="table-bordered">6</td>
			<td class="table-bordered">8</td>
			<td class="table-bordered">9</td>
		</tr>
		<tr class="table tr">
			<td class="table-bordered">12:30</td>
			<td class="table-bordered">2</td>
			<td class="table-bordered">3</td>
			<td class="table-bordered">4</td>
			<td class="table-bordered">5</td>
			<td class="table-bordered">6</td>
			<td class="table-bordered">8</td>
			<td class="table-bordered">9</td>
		</tr>
		<tr class="table tr">
			<td class="table-bordered">13:00</td>
			<td class="table-bordered">2</td>
			<td class="table-bordered">3</td>
			<td class="table-bordered">4</td>
			<td class="table-bordered">5</td>
			<td class="table-bordered">6</td>
			<td class="table-bordered">8</td>
			<td class="table-bordered">9</td>
		</tr>
				<tr class="table tr">
			<td class="table-bordered">13:30</td>
			<td class="table-bordered">2</td>
			<td class="table-bordered">3</td>
			<td class="table-bordered">4</td>
			<td class="table-bordered">5</td>
			<td class="table-bordered">6</td>
			<td class="table-bordered">8</td>
			<td class="table-bordered">9</td>
		</tr>
				<tr class="table tr">
			<td class="table-bordered">14:00</td>
			<td class="table-bordered">2</td>
			<td class="table-bordered">3</td>
			<td class="table-bordered">4</td>
			<td class="table-bordered">5</td>
			<td class="table-bordered">6</td>
			<td class="table-bordered">8</td>
			<td class="table-bordered">9</td>
		</tr>
				<tr class="table tr">
			<td class="table-bordered">14:30</td>
			<td class="table-bordered">2</td>
			<td class="table-bordered">3</td>
			<td class="table-bordered">4</td>
			<td class="table-bordered">5</td>
			<td class="table-bordered">6</td>
			<td class="table-bordered">8</td>
			<td class="table-bordered">9</td>
		</tr>
				<tr class="table tr">
			<td class="table-bordered">15:00</td>
			<td class="table-bordered">2</td>
			<td class="table-bordered">3</td>
			<td class="table-bordered">4</td>
			<td class="table-bordered">5</td>
			<td class="table-bordered">6</td>
			<td class="table-bordered">8</td>
			<td class="table-bordered">9</td>
		</tr>
				<tr class="table tr">
			<td class="table-bordered">15:30</td>
			<td class="table-bordered">2</td>
			<td class="table-bordered">3</td>
			<td class="table-bordered">4</td>
			<td class="table-bordered">5</td>
			<td class="table-bordered">6</td>
			<td class="table-bordered">8</td>
			<td class="table-bordered">9</td>
		</tr>
				<tr class="table tr">
			<td class="table-bordered">16:00</td>
			<td class="table-bordered">2</td>
			<td class="table-bordered">3</td>
			<td class="table-bordered">4</td>
			<td class="table-bordered">5</td>
			<td class="table-bordered">6</td>
			<td class="table-bordered">8</td>
			<td class="table-bordered">9</td>
		</tr>
				<tr class="table tr">
			<td class="table-bordered">16:30</td>
			<td class="table-bordered">2</td>
			<td class="table-bordered">3</td>
			<td class="table-bordered">4</td>
			<td class="table-bordered">5</td>
			<td class="table-bordered">6</td>
			<td class="table-bordered">8</td>
			<td class="table-bordered">9</td>
		</tr>
				<tr class="table tr">
			<td class="table-bordered">17:00</td>
			<td class="table-bordered">2</td>
			<td class="table-bordered">3</td>
			<td class="table-bordered">4</td>
			<td class="table-bordered">5</td>
			<td class="table-bordered">6</td>
			<td class="table-bordered">8</td>
			<td class="table-bordered">9</td>
		</tr>
			<tr class="table tr">
			<td class="table-bordered">17:30</td>
			<td class="table-bordered">2</td>
			<td class="table-bordered">3</td>
			<td class="table-bordered">4</td>
			<td class="table-bordered">5</td>
			<td class="table-bordered">6</td>
			<td class="table-bordered">8</td>
			<td class="table-bordered">9</td>
		</tr>
			<tr class="table tr">
			<td class="table-bordered">18:00</td>
			<td class="table-bordered">2</td>
			<td class="table-bordered">3</td>
			<td class="table-bordered">4</td>
			<td class="table-bordered">5</td>
			<td class="table-bordered">6</td>
			<td class="table-bordered">8</td>
			<td class="table-bordered">9</td>
		</tr>
			<tr class="table tr">
			<td class="table-bordered">18:30</td>
			<td class="table-bordered">2</td>
			<td class="table-bordered">3</td>
			<td class="table-bordered">4</td>
			<td class="table-bordered">5</td>
			<td class="table-bordered">6</td>
			<td class="table-bordered">8</td>
			<td class="table-bordered">9</td>
		</tr>
			<tr class="table tr">
			<td class="table-bordered">19:00</td>
			<td class="table-bordered">2</td>
			<td class="table-bordered">3</td>
			<td class="table-bordered">4</td>
			<td class="table-bordered">5</td>
			<td class="table-bordered">6</td>
			<td class="table-bordered">8</td>
			<td class="table-bordered">9</td>
		</tr>
			<tr class="table tr">
			<td class="table-bordered">19:30</td>
			<td class="table-bordered">2</td>
			<td class="table-bordered">3</td>
			<td class="table-bordered">4</td>
			<td class="table-bordered">5</td>
			<td class="table-bordered">6</td>
			<td class="table-bordered">8</td>
			<td class="table-bordered">9</td>
		</tr>
			<tr class="table tr">
			<td class="table-bordered">20:00</td>
			<td class="table-bordered">2</td>
			<td class="table-bordered">3</td>
			<td class="table-bordered">4</td>
			<td class="table-bordered">5</td>
			<td class="table-bordered">6</td>
			<td class="table-bordered">8</td>
			<td class="table-bordered">9</td>
		</tr>
	</tbody>
</table>

</div>

</body>
</html>