<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="scripts/jquery-3.2.1.min.js"></script>
<script src="scripts/functions.js"></script>
<script src="scripts/filterTable.js"></script>
<meta charset="utf-8"/>
<title>Promena lozinke</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<script>
$(document).ready(function(){
	$("#successMessage").hide();
	$("#errorMessageNoMach").hide();
	$("#errorMessageWrongOld").hide();
	var textVar2 = $("#outcomeMessage").val();
	
	if(textVar2 == "allok"){
		$("#successMessage").show();
	} else if(textVar2 == "passwordsDontMach"){
		$("#errorMessageNoMach").show();
	} else if(textVar2 == "wrongOldPassword"){
		$("#errorMessageWrongOld").show();
	}
});
</script>
</head>
<body>
	<div class="alert div1" role="alert">
	
		<div th:include="fragments/header :: header"></div>
		
		<h1 align="center">Promena lozinke</h1>
	</div>
<div class="panel">
	<div th:include="fragments/errorMessages :: errorMessages"></div>

	<input type="hidden" th:value="${outcomeMessage}" id="outcomeMessage" />
<form style="padding-left:3em" th:action="@{/changePasswordActual}" th:object="${passwordChangeDTO}" method="POST">
  	<div class="form-group row">
		<div class="col-xs-2">
			<label class="label-width-1">Stara lozinka:</label>
			<input  type="password" th:field="*{oldPassword}" id="oldPassword" class="form-control" />
		</div>
	</div>
	
  	<div class="form-group row">
		<div class="col-xs-2">
			<label class="label-width-1">Nova lozinka 1:</label>
			<input  type="password" th:field="*{newPassword1}" id="newPassword1" class="form-control" />
		</div>
	</div>
	
  	<div class="form-group row">
		<div class="col-xs-2">
			<label class="label-width-1">Nova lozinka 2:</label>
			<input  type="password" th:field="*{newPassword2}" id="newPassword2" class="form-control" />
		</div>
	</div>
	<div class="form-group row">
		<div class="col-xs-2">
			<button type="submit" class="btn btn-success" name="mode" value="add"><b>Izmeni lozinku</b></button>
		</div>
	</div>
	</form>
</div>
</body>
</html>
