<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="scripts/jquery-3.2.1.min.js"></script>
<script src="scripts/functions.js"></script>
<meta charset="utf-8"/>
	<title>Greske</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<title>Errors</title>
</head>
<body>
<input type="text" class="errorMessage" name="errorMessage" th:value="${errorMessage}"/>
<table>
	<tr th:each="data: ${errorMessage}">
     <td th:text="${data}"></td>
  </tr>
  </table>
</body>
</html>