<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script src="../../scripts/jquery-3.2.1.min.js"></script>
	<script src="../../scripts/functions.js"></script>
	<script src="../../scripts/filterTable.js"></script>
	<meta charset="utf-8"/>
	<title>Grupa vežbi</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>	
	<script>
	$(document).on("click", "#tr-entity-list", function(event) {
		highlightRow(this)
	});

	$(document).on("click", "#search", function(event) {
		$("#hidden_input").css('display','table-row');
	});
	
	$(document).on("click", "#resetButton", function(event) {
		document.getElementById("editButton").disabled = true;
	});
	
	function sync(item){
		name = item.find(".exerciseGroupName").html()
	    id = item.find(".exerciseGroupId").html()
	    
	    document.getElementById("editButton").disabled = false;
	    
	    $("#name").val(name);
	    $("#id").val(id);
	}
	
</script>
</head>
<body class="gradient">

<div class="alert div1" role="alert">
	<div>
		<a href="/" class="home">Početna</a>
		<div style="float:right" class="dropdown">
 		 <img src="/images/COG2a2.png"/>
		  <div class="dropdown-content">
		    <a th:href="@{/personalInfoManagementCtrl}">Lična podešavanja</a>
		    <a th:href="@{/logout}">Odlogujte se</a>
		  </div>
	</div>
	</div>
	<h1 align = "center">Grupe vežbi: </h1>
</div>
<br/>
<h2>Dodavanje i izmena grupa vežbi</h2>

<div class="panel">
<form style="padding-left:3em" th:action="@{/addExerciseGroup}" th:object="${exerciseGroupDTO}" method="POST">

	   <input type="hidden" th:field="*{id}" id="id" />
	   	<div class="form-group row">
			<div class="col-xs-2">
				<label for="name">Naziv :</label>
				<input class="form-control" type="text" th:field="*{name}" id="name" />
			</div>
		</div>
		<div class="form-group row">
			<div class="col-xs-2">
				<button type="submit" class="btn btn-success" name="mode" value="add">Dodaj novu</button>
				<button id="editButton" type="submit" disabled="disabled" class="btn btn-success" name="mode" value="edit">Izmeni</button>
				<button id="resetButton" type="reset" class="btn btn-success">Isčisti</button>
			</div>
		</div>
</form>
</div>
<br/>

<form method="POST">
<div style="padding-left:3em">
	<p><b> Filtriranje: </b></p>
	<input type="text" id="inputFilterName" onkeyup="filterTable(0,3)" placeholder="Filtriranje po nazivu.."/>
	<br/>
	<br/>
	<br/>
</div>
<table id="exerciseGroupTable" class = "table">
	<thead>
		<tr>
			<th scope="col">Naziv</th>
			<th scope="col"></th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		<tr id="tr-entity-list" th:each = "exerciseGroup : ${exerciseGroups}">
			<td class="exerciseGroupName" th:utext="${exerciseGroup.name}"></td>
			<td class="exerciseGroupId" th:utext="${exerciseGroup.id}" style="display:none;"></td>
			<td><a th:href="@{/deleteExerciseGroup/{id}(id=${exerciseGroup.id})}"><button type="button" class="btn btn-danger">Briši</button></a></td>
			<td><a th:href="@{/filterExcerInGroup/{id}(id=${exerciseGroup.id})}"><button type="button" class="btn btn-danger">Vežbe iz grupe</button></a></td>
		</tr>
	</tbody>
</table>
</form>
</body>
</html>