<!DOCTYPE html>
<html lang="en
		xmlns=http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Training</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	
<style>
	  	  .floating-box {
		  float: left;
	}
</style>
</head>

<body class="gradient1">
<div class="alert div1">
	<h1 align="center" th:text="${pageTitle}"></h1>
</div>
<br/>
<br/>
	<div align="center">
	<form th:action="@{/indexSelect}">
	<table>
		<tr>
			<td class="floating-box"><button type="submit" class="button1" name="mode" value="client"><img src="/images/clientNew170.png"/>Klijenti</button></td>
			<td class="floating-box"><button type="submit" class="button1" name="mode" value="exercise"><img src="/images/running2x2.png"/>Vežbe</button></td>
			<td class="floating-box"><button type="submit" class="button1" name="mode" value="exerciseGroup"><img src="/images/Exercise_group1.png"/>Grupa vežbi</button></td>
			<td class="floating-box"><button type="submit" class="button1" name="mode" value="training"><img src="/images/treningA170.png"/><br/>Treninzi</button></td>
			<td class="floating-box"><button type="submit" class="button1" name="mode" value="calendar" style="display:none;"><img src="/images/calendar170B.png"/><br/>Kalendar</button></td>
			<td class="floating-box"><button type="submit" class="button1" name="mode" value="personalTrainer" style="display:none;"><img src="/images/coachTranspa170.png"/><br/>Treneri</button></td>
			<td class="floating-box"><button type="submit" class="button1" name="mode" value="testPage" style="display:none;"><br/>!!TEST!!</button></td>
		</tr>
	</table>
	</form>
	</div>
</body>
</html>