<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="scripts/jquery-3.2.1.min.js"></script>
<script src="scripts/functions.js"></script>
<script src="scripts/filterTable.js"></script>
<meta charset="utf-8"/>
<title>Users</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<script th:inline="javascript">
/*<![CDATA[*/  
	$(document).ready(function(){
		
		var isEmailSet = false;
		var isUsernameSet = false;
		var usernameTaken = /*[[${usernameTaken}]]*/ 'default';
		var emailTaken = /*[[${emailTaken}]]*/ 'default';
		var emailFormatBadVar = /*[[${emailFormatBad}]]*/ 'default';
	
		$("#errorExerciseName").hide();
		$("#errorUsername").hide();
		
		if(usernameTaken){
			$("#usernameTakenMessage").show();
		} else {
			$("#usernameTakenMessage").hide();
		}
		
		if(emailTaken){
			$("#emailTakenMessage").show();
		} else {
			$("#emailTakenMessage").hide();
		}
		
		if(emailFormatBadVar){
			$("#emailFormatBadMessage").show();
		} else {
			$("#emailFormatBadMessage").hide();
		}
		
	});
		// script here


	$(document).on("change keyup paste", "#email", function(event) {
		var emailVar = $("#email").val();
		var usernameVar = $("#userName").val();
		
		if(emailVar == ""){
			$("#emailRedDot").show();
			$("#mustHaveEmailField").show();
		} else {
			$("#emailRedDot").hide();
			$("#mustHaveEmailField").hide();
		}
		if(emailVar != ""){
			if(usernameVar != ""){
				$("#addButton").prop("disabled", false);
			} else {
				$("#addButton").prop("disabled", true);
			}
		} else {
			$("#addButton").prop("disabled", true);
		}
	});
	
	$(document).on("change keyup paste", "#userName", function(event) {
		var usernameVar = $("#userName").val();
		var emailVar = $("#email").val();
		
		if(usernameVar == ""){
			$("#usernameRedDot").show();
			$("#mustHaveUsernameField").show();
		} else {
			$("#usernameRedDot").hide();
			$("#mustHaveUsernameField").hide();
		}
		
		if(usernameVar != ""){
			if(emailVar != ""){
				$("#addButton").prop( "disabled", false);
			} else {
				$("#addButton").prop( "disabled", true);
			}
		} else {
			$("#addButton").prop( "disabled", true);
		}
	});
	
	$(document).on("click", "#tr-entity-list", function(event) {
		highlightRow(this)
		var usernameVar = $("#userName").val();
		var emailVar = $("#email").val();
		if(usernameVar != ""){
			$("#errorUsername").hide();
			$("#usernameRedDot").hide();
		}
		if(emailVar != ""){
			$("#errorExerciseName").hide();
			$("#emailRedDot").hide();
		}
	});
	
	$(document).on("click", "#search", function(event) {
		$("#hidden_input").css('display','table-row');
	});
	
	$(document).on("click", "#resetButton", function(event) {
			document.getElementById("editButton").disabled = true;
	});

	function sync(item){
		userName = item.find(".userName").html()
	    operatorId = item.find(".operatorId").html()
	    authorities = item.find(".authorities").html()
	    personalName = item.find(".personalName").html()
	    familyName = item.find(".familyName").html()
	    email = item.find(".email").html()
	    
	    document.getElementById("editButton").disabled = false;
		
	    $("#id").val(operatorId);
	    $("#userName").val(userName);
	    $("#authority").val(authorities);
	    $("#personalName").val(personalName);
	    $("#familyName").val(familyName);
	    $("#email").val(email);
	}
/*]]>*/
</script>
</head>
<body>
	<div class="alert div1" role="alert">
		<div>
			<a href="/" class="home">Početna</a>
	<div style="float:right" class="dropdown">
 		 <img src="/images/COG2a2.png"/>
		  <div class="dropdown-content">
		    <a th:href="@{/personalInfoManagementCtrl}">Lična podešavanja</a>
		    <a th:href="@{/logout}">Odlogujte se</a>
		  </div>
	</div>
		</div>
		<h1 align="center">Operateri u sistemu</h1>
	</div>
	
<h2>Dodavanje i izmena operatera</h2>
	
<div class="panel">
	<form style="padding-left:3em" th:action="@{/addOperator}" th:object="${operatorDTO}" method="POST">
	<label id="errorExerciseName" class="errorText"><font color="red"><b>Unesite Email adresu!</b></font></label>
	<label id="errorUsername" class="errorText"><font color="red"><b>Unesite korisničko ime!</b></font></label>
	<br/>
	<label id="usernameTakenMessage" class="errorText"><font color="red"><b>Korisničko ime zauzeto!</b></font></label>
	<label id="emailTakenMessage" class="errorText"><font color="red"><b>Unešena email adresa već postoji u sistemu!</b></font></label>
	<label id="emailFormatBadMessage" class="errorText"><font color="red"><b>Neodgovarajući format unešene email adrese!</b></font></label>
	<input type="hidden" th:field="*{id}" id="id" />
  	<div class="form-group row">
		<div class="col-xs-2">
			<label class="label-width" for="*{userName}">Koristničko ime:</label>
			<input  type="text" th:field="*{userName}" id="userName" class="form-control" />
			&nbsp;&nbsp;<img id="usernameRedDot" src="/images/red-exclamation30.png"/> <label id="mustHaveUsernameField">(Obavezno polje)</label>
		</div>
	</div>
  	<div class="form-group row">
		<div class="col-xs-2">
			<label class="label-width" for="*{personalName}">Ime:</label>
			<input  type="text" th:field="*{personalName}" id="personalName" class="form-control" />
		</div>
	</div>
	
  	<div class="form-group row">
		<div class="col-xs-2">
			<label class="label-width" for="*{familyName}">Prezime:</label>
			<input  type="text" th:field="*{familyName}" id="familyName" class="form-control" />
		</div>
	</div>
	
  	<div class="form-group row">
		<div class="col-xs-2">
			<label class="label-width" for="*{email}">Email:</label>
			<input  type="text" th:field="*{email}" id="email" class="form-control" />
			&nbsp;&nbsp;<img id="emailRedDot" src="/images/red-exclamation30.png"/> <label id="mustHaveEmailField">(Obavezno polje)</label>
		</div>
	</div>
	
	<div class="form-group row">
		<div class="col-xs-2">
			<label class="label-width" for="authority">Autoritet :</label>
			<select class="selectpicker form-control" data-live-search="true" th:field="*{authorities}" id="authority">
	                         <option th:each="authority : ${authorities}"
	                            th:value="${authority}"
	                            th:utext="${authority}"/>
	       </select>
	   </div>
	</div>
	
	<div class="form-group row">
		<div class="col-xs-2">
			<button id="addButton" type="submit" disabled="disabled" class="btn btn-success" name="mode" value="add"><b>Dodaj novog</b></button>
			<button id="editButton" type="submit" disabled="disabled" class="btn btn-success" name="mode" value="edit">Izmeni</button>
			<button id="resetButton" type="reset" class="btn btn-success">Iscisti</button>
		</div>
	</div>
</form>
</div>
<br/>
<div class="panel">
<form method="POST">
<div style="padding-left:3em">
	<p><b> Filtriranje: </b></p>
		<input type="text" id="inputFilterName" onkeyup="filterTable(0,1)" placeholder="Filtriranje po nazivu.."/>
		<input type="text" id="inputFilterDescription" onkeyup="filterTable(1,1)" placeholder="Filtriranje po lozinci.."/>
	<br/>
	<br/>
	<br/>
</div>
<table id="clientTable" class="table">
	<thead>
		<tr>
			<th scope="col">Korisničko ime : </th>
			<th scope="col">Autoritet : </th>
			<th scope="col">Ime : </th>
			<th scope="col">Prezime : </th>
			<th scope="col">Email : </th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		<tr	id="tr-entity-list" th:each = "operator : ${operators}">
			<td class="userName" th:utext="${operator.userName}"></td>
			<td class="authorities" th:utext="${operator.authorities}"></td>
			<td class="personalName" th:utext="${operator.personalName}"></td>
			<td class="familyName" th:utext="${operator.familyName}"></td>
			<td class="email" th:utext="${operator.email}"></td>
			<td scope="row" class="operatorId" th:utext="${operator.id}" style="display:none;"></td>
			<td>
				<a th:href="@{/deleteOperator/{id}(id=${operator.id})}"><button type="button" class="btn btn-danger">Briši</button></a></td>
		</tr>
	</tbody>
</table>
</form>
<br/>
</div>
</body>
</html>