<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
.tableX, .tdX, tr, th {
	border-collapse: collapse;
    border: 1px solid black;
}
</style>
</head>
<body>

<table style="width:100%">
	<tr>
		<td align="left"><p th:text="'Klijent : ' + ${name}" /></td>
		<td align="center"><p th:text="${trainingNumber} + '.trening'" /></td>
		<td align="right"><p th:text="'Datum : ' + ${date}" /></td>
	</tr>
</table>
<br/>
<br/>
<br/>

<table class="tableX" style="width:100%">
	<thead>
		<tr>
			<th align="center">Broj kombinacije:</th>
			<th align="center"></th>
		</tr>
	</thead>
	<tbody>
	<tr>
	<td></td>
	<td>
	<table style="width:100%">
							<tr>
								<td class="tdX" width="55%" align="center">Vežba:</td>
								<td class="tdX" width="10%" align="center">Težina:</td>
								<td class="tdX" width="10%" align="center">Br. ponav.:</td>
								<td class="tdX" width="25%" align="center">Napomena:</td>
							</tr>
				</table>
	</td>
	</tr>
	<tr th:each="round : ${exercisesInRoundMap}">
		<td align="center" class="tdX" th:text="${round.key}"></td>
			<td class="tdX">
				<table style="width:100%">
					<tbody>
						<tr th:each="exerciseInRound : ${round.value}">
							<td width="55%" align="center" th:utext="${exerciseInRound.exerciseName}"></td>
							<td width="10%" align="center" th:utext="${exerciseInRound.difficulty}"></td>
							<td width="10%" align="center" th:utext="${exerciseInRound.numberOfRepetitions}"></td>
							<td width="25%" align="center" th:utext="${exerciseInRound.Note}"></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td class="tdX" align="center">*</td>
			<td class="tdX" align="center">Isteznanje</td>		
		</tr>
	</tbody>
</table>
</body>
</html>