<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table style="width:100%">
	<tr>
		<td align="left"><p th:text="'Klijent : ' + ${name}" /></td>
		<td align="center"><p th:text="${trainingNumber} + '.trening'" /></td>
		<td align="right"><p th:text="'Datum : ' + ${date}" /></td>
	</tr>
</table>

<p th:text="'Kombinacija : ' + ${round}+'.'" />


<table>
	<thead>
		<tr>
			<th scope="col">Naziv vežbe : </th>
			<th scope="col">Težina : </th>
			<th scope="col">Napomena : </th>
			<th scope="col">Difficulty : </th>
			<th scope="col">Broj vežbe u krugu : </th>
		</tr>
	</thead>
	<tbody>
        <tr th:each = "exerciseInRound : ${exercisesInRound}">
			<td th:utext="${exerciseInRound.exerciseName}"></td>
			<td th:utext="${exerciseInRound.difficulty}"></td>
			<td th:utext="${exerciseInRound.Note}"></td>
			<td th:utext="${exerciseInRound.exerciseName}"></td>
			<td th:utext="${exerciseInRound.round.roundSequenceNumber}"></td>
  		</tr>
	</tbody>
</table>
</body>
</html>