<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="scripts/jquery-3.2.1.min.js"></script>
<script src="scripts/functions.js"></script>
<script src="scripts/filterTable.js"></script>
<meta charset="utf-8"/>
<title>Treneri</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<script type="text/javascript">
$(document).on("click", "#addButton", function() {
	$('#myModalAdd').modal('hide')
	$("#errorExerciseId").hide();
	ajaxExerciseInRoundAddExercise();
});
</script>
</head>
<body class="gradient">
	<div class="alert div1" role="alert">
		<a href="/" class="home">Početna</a>
		<h1 align="center">Treneri u sistemu</h1>
	</div>
<br/>
<h2>Dodavanje i izmena trenera</h2>

<div class="panel">
<form style="padding-left:3em" th:action="@{/addPersonalTrainers}" th:object="${personalTrainerDTO}" method="POST">
	<div class="form-group row">
		<div class="col-xs-2">
		<label class="label-width-1" for="*{name}">Ime:</label>
		<input type="text" th:field="*{name}" id="givenName" class="form-control"/>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-xs-2">
		<label class="label-width-1" for="*{familyName}">Prezime:</label>
		<input type="text" th:field="*{familyName}" id="familyName" class="form-control"/>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-xs-2">
		<label class="label-width-1" for="*{phoneNumber}">Telefon:</label>
		<input type="text" th:field="*{phoneNumber}" id="telephoneTrainer" class="form-control"/>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-xs-2">
		<label class="label-width-1" for="*{email}">Email:</label>
		<input type="text" th:field="*{email}" id="emailTrainer" class="form-control"/>
		</div>
	</div>
	
	<div class="from-group row">
		<div class="col-xs-2">
		<!--  TODO continue working on AJAX implementation -->
			<button id="addButton" type="button" class="btn btn-success" name="mode" value="add"><b>Dodaj novog</b></button>
			<button id="editButton" type="submit" disabled="disabled" class="btn btn-success" name="mode" value="edit">Izmeni</button>
			<button id="resetButton" type="reset" class="btn btn-success">Iscisti</button>
		</div>
	</div>
</form>
</div>

<div class="panel">
<form>
	<div style="padding-left:3em">
	<p><b> Filtriranje: </b></p>
		<input type="text" id="inputFilterName" onkeyup="filterTable(0,1)" placeholder="Filtriranje po nazivu.."/>
		<input type="text" id="inputFilterDescription" onkeyup="filterTable(1,1)" placeholder="Filtriranje po opisu.."/>
		<input type="text" id="inputFilterEmail" onkeyup="filterTable(2,1)" placeholder="Filtriranje po email adresi.."/>
		<input type="text" id="inputFilterPhone" onkeyup="filterTable(3,1)" placeholder="Filtriranje po broju telefona.."/>
	<br/>
	<br/>
	<br/>
	</div>
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Ime</th>
			<th scope="col">Prezime</th>
			<th scope="col">Telefon</th>
			<th scope="col">Email</th>
			<th scope="col"></th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		<tr id="tr-entity-list" th:each = "personalTrainer : ${personalTrainers}">
			<td class="personalTrainerId" th:utext="${personalTrainer.id}"></td>
			<td class="personalTrainerName" th:utext="${personalTrainer.name}"></td>
			<td class="personalTrainerFamilyName" th:utext="${personalTrainer.familyName}"></td>
			<td class="personalTrainerEmail" th:utext="${personalTrainer.email}"></td>
			<td class="personalTrainerPhone" th:utext="${personalTrainer.phoneNumber}"></td>
			<td><a th:href="@{/deletePersonalTrainer/{id}(id=${personalTrainer.id)}}"><button type="button" class="btn btn-danger">Briši</button></a></td>
			<td><a ></a></td>
		</tr>
	</tbody>	
</table>
</form>
</div>

</body>
</html>