<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="scripts/jquery-3.2.1.min.js"></script>
<script src="scripts/functions.js"></script>
<script src="scripts/filterTable.js"></script>
<meta charset="utf-8"/>
<title>Lična podešavanja</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<script>
$(document).ready(function(){
	
	var isEmailSet = false;
	var isUsernameSet = false;
	$("#errorEmailAddress").hide();
	
	var usernameVar = $("#userName").val();
	var emailVar = $("#email").val();
	if(usernameVar != ""){
		$("#errorUsername").hide();
	}
	if(emailVar != ""){
		$("#emailRedDot").hide();
		$("#mustHaveEmailField").hide();
	}
	
	if(exerciseInRoundExerciseName == ""){
		areFieldsFilledIn = false;
		$("#emailRedDot").show();
		$("#mustHaveEmailField").show();
	}
	
});

$(document).on("change keyup paste", "#email", function(event) {
	var emailVar = $("#email").val();
	var usernameVar = $("#userName").val();
	
	if(emailVar == ""){
		$("#emailRedDot").show();
		$("#mustHaveEmailField").show();
		$("#editButton").prop("disabled",true);
	} else {
		$("#emailRedDot").hide();
		$("#mustHaveEmailField").hide();
		$("#editButton").prop("disabled",false);
	}
});

$(document).on("change keyup paste", "#userName", function(event) {
	var usernameVar = $("#userName").val();
	var emailVar = $("#email").val();
	
	if(usernameVar == ""){
		$("#errorUsername").show();
	} else {
		$("#errorUsername").hide();
	}
	
	if(usernameVar != ""){
		if(emailVar != ""){
			$("#editButton").prop( "disabled", false);
		} else {
			$("#editButton").prop( "disabled", true);
		}
	}
});
</script>
</head>
<body class="gradient">
		<div th:include="fragments/header :: header"></div>
	
<h2>Izmena ličnih podešavanja</h2>
	
<div class="panel">
	<label id="errorEmailAddress" class="errorText">Unesite Email adresu!</label>
	<label id="errorUsername" class="errorText">Unesite korisničko ime!</label>
	<form style="padding-left:3em" th:action="@{/editSelf}" th:object="${operatorDTO}" method="POST">
	<input type="hidden" th:field="*{id}" id="id" />
	
  	<div class="form-group row">
		<div class="col-xs-2">
			<label class="label-width-1" for="*{personalName}">Ime:</label>
			<input  type="text" th:field="*{personalName}" id="personalName" class="form-control" />
		</div>
	</div>
	
  	<div class="form-group row">
		<div class="col-xs-2">
			<label class="label-width-1" for="*{familyName}">Prezime:</label>
			<input  type="text" th:field="*{familyName}" id="familyName" class="form-control" />
		</div>
	</div>
	
  	<div class="form-group row">
		<div class="col-xs-2">
			<label class="label-width-1" for="*{email}">Email:</label>
			<input  type="text" th:field="*{email}" id="email" class="form-control" />
			<img id="emailRedDot" class="left-spacing-nbsp" src="/images/red-exclamation30.png"/><label id="mustHaveEmailField">(Obavezno polje)</label>
		</div>
	</div>
	
	<div class="form-group row">
		<div class="col-xs-2">
			<button id="editButton" type="submit" class="btn btn-success" name="mode" value="edit">Izmeni</button>
		</div>
	</div>
	</form>
</div>
<p>----------------------------------------------------------</p>
<p>
	<a th:href="@{/changePasswordCtrl}"><button class="btn btn-success">Izmena lozinke</button></a></p>
</body>
</html>
