<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="../../scripts/jquery-3.2.1.min.js"></script>
<script src="../../scripts/bootstrap.min.js"></script>
<script src="../../scripts/functions.js"></script>
<meta charset="utf-8"/>
	<title>Dodavanje treninga</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<script>

	$(document).ready(function(){
		selectedRound = $("#selectedRoundId").val()
		if (selectedRound == "")
			return
		$("#roundsTable tr").each(function() {
			roundId = $(this).find(".roundId").text()
			if (selectedRound == roundId){
				selectRoundIdOnRowClick(this)
				return
			}
		});
	});
	
	$(document).on("click", "#exercisesInRoundTable tr", function(event) {
		  roundId = $(this).find(".roundId").html()
		  $("#roundsTable tr").each(function(){
		   id = $(this).find(".roundId").html()
		   if (id == roundId){
		    selectRoundIdOnRowClick(this)
		    return false //break
		   }
		  });
		 });
	
	$(document).on("click", "#tr-entity-list", function(event) {
		highlightRow1(this)
		selectRoundIdOnRowClick(this)
		enableExerciseInRoundEdit()
	});

	
	$(document).on("click", "#tr-entity-list-modal", function(event) {
		highlightRow(this)
		$('#myModal').modal('hide')
		disableExerciseInRoundEdit()
	});
	
	function highlightRow1(row){
		if(!$(row).hasClass("header")){
			$(row).parent().find(".highlighted").removeClass("highlighted");
	    	$(row).addClass("highlighted");
	    	sync2($(row));
	    }
	}
	
	$(document).on("click", "#round-id-sync", function(event) {
		selectRoundIdOnRowClick(this)
	});
	
	$(document).on("click", "#testingDeselect", function(event) {
			$("#round-id-sync").parent().find(".highlighted").removeClass("highlighted");
			   	$("#round-id-sync").removeClass("highlighted");
			    $("#exercisesInRoundTable .roundId").each(function(){
			    		$(this).parent().show()
			    });
			    sortTable();
	});
	
	$(document).on("click", "#deleteExerciseInRound", function(event) {
		exerciseInRoundId = item.find(".exerciseInRoundId").html()
		$("#hiddenTrainingInRoundToDeleteId").val(exerciseInRoundId);
	});

	
	function enableAddRound(item) {
		var trainingID = $(".idTraining")[0]
		if($(trainingID).val() != ""){
			document.getElementById("noviKrug").disabled = false;
			document.getElementById("editTraining").disabled = false;
			document.getElementById("deleteTraining").disabled = false;
			document.getElementById("PDFButton").disabled = false;
			document.getElementById("saveTraining").disabled = true;
		}

	}
	
	  /*<![CDATA[*/	
	function filterModal(typeToFilter) {
		  var input, filter, table, tr, td, i, j;
		  
		 	if (typeToFilter === 1) {
			  input = $("#inputFilterByName").val();
		        j = 1;
		    } else if (typeToFilter === 2){
		    	 input = $("#inputFilterByDescription").val();
		    	j = 2;
		    } else if (typeToFilter === 3){
		  	  input = $("#inputFilterByGroup").val();
		    	j = 3;
		    }
		  
		  filter = input.toUpperCase();
		  tr = table.getElementsByTagName("tr");
		  $("tr").each(function(){
		    td = $(this).find("td")[j];
		    if (td) {
		      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
		       	$(this).show(); 
		      } else {
		        $(this).hide(); 
		      }
		    }       
		  });
		}
	
 
function sortTable() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = ("#exercisesInRoundTable");
  switching = true;

  while (switching) {
    switching = false;
    rows = table.rows;
    rows.each(function(){

      shouldSwitch = false;
      x = $(this).find("td")[5];
      y = $(this).next().find("td")[5];
      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
        shouldSwitch = true;
        break;
      }
    });
    if (shouldSwitch) {
      $(this).parentNode.insertBefore($(this).next(), $(this));
      switching = true;
    }
  }
}

/*]]>*/
	  
	$(document).on("click", "#modal_button", function(event) {
		var els = document.getElementsByClassName("modal-table-coloring");
		
		var test = document.getElementsByClassName("exerciseColorCode");
		Array.prototype.forEach.call(els, function(el) {
			var nooo = $(el).find(".exerciseColorCode").html(); 
			if(nooo == 1){
			 	el.style.backgroundColor = "red"
			}
			if(nooo == 2){
			 	el.style.backgroundColor = "orange"
			}
			if(nooo == 3){
			 	el.style.backgroundColor = "yellow"
			}
			 console.log(el.tagName);
		});
	});
	
	$(document).on("click", "#hideTableRows", function(event) {
		var els = document.getElementsByClassName("hidden_input");
		Array.prototype.forEach.call(els, function(el) {
		     el.style.visibility = 'hidden'
	   		 console.log(el.tagName);
		});
	});
	//Keeping position on page
	$(window).scroll(function() {
		  sessionStorage.scrollTop = $(this).scrollTop();
		});

		$(document).ready(function() {
		  if (sessionStorage.scrollTop != "undefined") {
		    $(window).scrollTop(sessionStorage.scrollTop);
		  }
		});
	
	function selectRoundIdOnRowClick(row){

		if(!$(row).hasClass("header")){
			$(row).parent().find(".highlighted").removeClass("highlighted");

		   	$(row).addClass("highlighted");

		   	sync1($(row));
	   }
	}
	
	function sync1(item){
	    roundId = item.find(".roundId").html()
	    $("#addExerciseInRoundForm #hiddenRoundInTraining").val(roundId);
	    
	    $("#exerciseInRoundExerciseName").prop("disabled", false); 
	    $("#modal_button").prop("disabled", false);
	    $("#exerciseInRoundNote").prop("disabled", false);
	    $("#exerciseInRoundNumberOfRepetitions").prop("disabled", false);
	    $("#exerciseInRoundDifficulty").prop("disabled", false);
	    $("#exerciseInRoundAdd").prop("disabled", false);
	    
	    $("#exercisesInRoundTable .roundId").each(function(){
	    	if ($(this).html() != roundId)
	    		$(this).parent().hide()
	    	else
	    		$(this).parent().show()
	    });
	}
	
	function enableExerciseInRoundEdit(){
	    document.getElementById("exerciseInRoundEdit").disabled = false;
	}
	
	function disableExerciseInRoundEdit(){
	    document.getElementById("exerciseInRoundEdit").disabled = true;
	}
	
	function sync(item){
	    id = item.find(".exerciseId").html()
	    exerInRoundId = item.find(".exerciseInRoundId").html() 
		exerInRoundId = item.find(".exerciseExecId").html()

	    exerciseName = item.find(".exerciseName").html()
	    difficulty = item.find(".difficulty").html()
	    numberOfRepetitions = item.find(".numberOfRepetitions").html()
	    exerciseInRoundNote = item.find(".note").html()
	    	    
	    $("#exerciseInRoundExerciseName").val(exerciseName);
	    $("#exerciseInRoundExerciseId").val(id);
	    $("#idExerciseInRound").val(id);
	    $("#exerciseInRoundNote").val(exerciseInRoundNote);
	    $("#exerciseInRoundNumberOfRepetitions").val(numberOfRepetitions);
	    $("#exerciseInRoundDifficulty").val(difficulty);
	    
	}
	
	function sync2(item){
		//This is called when the table with the ExerciseInRound is clicked.
	    exerInRoundId = item.find(".exerciseInRoundId").html()
    	exerInRoundExerciseId = item.find(".exerciseExecId").html()
	    
	    exerciseName = item.find(".exerciseName").html()
	    difficulty = item.find(".difficulty").html()
	    numberOfRepetitions = item.find(".numberOfRepetitions").html()
	    exerciseInRoundNote = item.find(".note").html()
	    	    
	    $("#exerciseInRoundExerciseName").val(exerciseName);
	    $("#exerciseInRoundExerciseId").val(exerInRoundExerciseId);
	    $("#idExerciseInRound").val(exerInRoundId);
	    $("#exerciseInRoundNote").val(exerciseInRoundNote);
	    $("#exerciseInRoundNumberOfRepetitions").val(numberOfRepetitions);
	    $("#exerciseInRoundDifficulty").val(difficulty);
	    
	}
	</script>
</head>
<body class="gradient" onLoad="enableAddRound()">
	<div class="alert div1" role="alert">
	
	<a href="/" class="home">Početna</a>
	
		<h1 align="center">Dodavanje treninga</h1>
	</div>
<br/>


<h2>Dodavanje i izmena treninga</h2>



<form style="padding-left:3em" th:action="@{/saveTraining}" th:object="${trainingDTO}" method="POST">

	<div class="form-group row">
		<div class="col-xs-2">
			<label for="trainingDate">Datum:</label>
			<input type="date" id="trainingDate" class="form-control" th:field="*{date}"/>
		</div>
  	</div>
  	<div class="form-group row">
		<div class="col-xs-2">
			<label for="trainingNumberOfTraining">Redni broj:</label>
			<input type="text" id="trainingNumberOfTraining" class="form-control" th:field="*{numberOfTrainings}"/>
		</div>
  	</div>
  	<div class="form-group row">
		<div class="col-xs-2">
			<label for="trainingClient">Klijent:</label>
			<input type="text" id="trainingClient" class="form-control" th:field="*{client}" disabled="disabled"/>
		</div>
	</div>
	<input type="hidden" class="idTraining" th:field="*{id}"/>
	<input type="hidden" class="id" th:field="*{clientId}"/>

	<button id="saveTraining" class="btn btn-success" type="submit" name="mode" value="add">Snimi</button>
	<button id="editTraining" class="btn btn-success" type="submit" disabled="disabled" name="mode" value="edit">Izmeni</button>
	<a th:href="@{/deleteTraining/{id}/(id=*{id})}"><button id="deleteTraining" type="button" class="btn btn-danger" disabled="disabled">Briši</button></a>
	<a th:href="@{/printPDF/{id}/(id=*{id})}"><button id="PDFButton" type="button" class="btn btn-danger" disabled="disabled">PDF</button></a>
</form>
<p>------------------------------------------------------------------------------------------------------------------------------</p>

<form  style="padding-left:3em" th:action="@{/addRound}" method="POST">
 	<div class="form-group row">
		<div class="col-xs-2">
			<button id="noviKrug" class="btn btn-success" type="submit" disabled="disabled">Nova kombinacija</button>
		</div>
	</div>
<input type="hidden" class="id" name="id" th:value="${id}"/>
<input type="hidden" id="selectedRoundId" name="selectedRoundId" th:value="${selectedRoundId}"/>
</form>
<br/>

<h3 style="padding-left:1em">Postojeće kombinacije</h3>
 

<div class="container-responsive">
	<table id="roundsTable" style="margin-top:2em" class="table table-responsive">
			<thead>
				<tr>
					<th>Broj Kombinacije</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr	id="round-id-sync" th:each = "round : ${roundsInTraining}">
					
					<td class="roundRoundSequenceNumber" th:utext="${round.roundSequenceNumber}" ></td>
					<td class="roundId" th:utext="${round.id}" style="display:none;"></td> 
					<td><a th:href="@{/deleteRound/{roundId}/{id}(roundId=${round.id}, id=${id})}"><button type="button" class="btn btn-danger">Briši</button></a></td>
				</tr>
			</tbody>
	</table>
	<div style="padding-left:3em"><button style="margine-left:3em" class="btn btn-success" id="testingDeselect">Deselektuj</button></div>
</div>

<p>------------------------------------------------------------------------------------------------------------------------------</p>


<form style="padding-left:3em" id="addExerciseInRoundForm" th:action="@{/addExerciseInRound}" th:object="${exerciseInRoundDTO}" method="POST">
	<div class="form-group row">
		<div class="col-xs-2">
			<label for="exerciseInRoundExerciseName">Vežba:</label>
			<div class="form-row">
			 	<div class="col">
					<input type="text" class="form-control" size="70" th:field="*{exerciseInRoundExerciseName}" id="exerciseInRoundExerciseName" disabled="disabled"/>
				</div>
				<div class="col">
					<button id="modal_button" type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" disabled="disabled">Izbor</button>
				</div>
			</div>
			<input type="hidden" th:field="*{exerciseInRoundExerciseId}" id="exerciseInRoundExerciseId"/>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-xs-2">
			<!-- TODO NEMA FIELD -->
			<label for="exerciseInRoundNote">Napomena:</label>
			<input class="form-control" id="exerciseInRoundNote" type="text" th:field="*{note}" disabled="disabled"/>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-xs-2">
			<label for="exerciseInRoundNumberOfRepetitions">Broj ponavljanja:</label>
			<input type="text" class="form-control" id="exerciseInRoundNumberOfRepetitions" th:field="*{numberOfRepetitions}" disabled="disabled"/>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-xs-2">
			<!-- Ovde sam mislila na kilazu :) -->
			<label for="exerciseInRoundDifficulty">Težina:</label>	
			<input type="text" class="form-control" id="exerciseInRoundDifficulty" th:field="*{difficulty}" disabled="disabled"/>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-xs-2">
			<button id="exerciseInRoundAdd" class="btn btn-success" type="submit" name="modeEIR" value="add" disabled="disabled">Dodaj</button>
			<button id="exerciseInRoundEdit" class="btn btn-success" type="submit" name="modeEIR" value="edit" disabled="disabled">Izmeni</button>
		</div>
	</div>
<input type="hidden" th:field="*{id}" id="idExerciseInRound"/>
<input type="hidden" class="id" name="id" th:value="${id}"/>
<input id="hiddenRoundInTraining" type="hidden" th:field="*{roundId}" />

</form>

<br/>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" >

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Vežbe</h4>
      </div>
<div class="modal-body">
<input type="text" id="inputFilterByName" onkeyup="filterModal(1)" placeholder="Filtriranje po nazivu.."/>
<input type="text" id="inputFilterByDescription" onkeyup="filterModal(2)" placeholder="Filtriranje po opisu.."/>
<input type="text" id="inputFilterByGroup" onkeyup="filterModal(3)" placeholder="Filtriranje po grupi.."/>
<div class="container-responsive">
	<table  id = "myTableExercises" class = "table table-responsive">
		<thead>
			<tr>
				<th scope="col">Naziv</th>
				<th scope="col">Opis</th>
				<th scope="col">Grupa vežbi</th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr class="modal-table-coloring" id="tr-entity-list-modal" th:each = "exercise : ${exercises}">
				<td class="exerciseId" th:utext="${exercise.id}" style="display:none;"></td>
				<td class="exerciseName" th:utext="${exercise.name}"></td>
				<td class="exerciseDescription" th:utext="${exercise.description}"></td>
				<td class="exerciseGroup" th:utext="${exercise.exerciseGroup}"></td>
				<td class="exerciseGroupId hidden_column" th:utext="${exercise.exerciseGroupId}" style="display:none;"></td>
				<td class="exerciseColorCode hidden_column" th:utext="${exercise.colorCode}" style="display:none;"></td>
			</tr>
		</tbody>
	</table>
</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
      </div>
    </div>
  </div>
</div>

<br/>
<br/>


<form id="deleteExerciseInRoundForm" th:action="@{/deleteExerciseInRound}" method="POST">
<div class="container-responsive">
	<table id="exercisesInRoundTable" class = "table table-responsive">
		<thead>
			<tr>
				<th scope="col">Naziv vežbe</th>
				<th scope="col">Broj ponavljanja</th>
				<th scope="col">Težina</th>
				<th scope="col">Napomena</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr class="hidden_input" id="tr-entity-list" th:each = "exerciseInRound : ${exercisesInRound}">
				<td class="exerciseName" th:utext="${exerciseInRound.exerciseName}"></td>
				<td class="exerciseInRoundId" th:utext="${exerciseInRound.ExecInRound_Id}" style="display:none;"></td>
				<td class="numberOfRepetitions" th:utext="${exerciseInRound.numberOfRepetitions}"></td>
				<td class="difficulty" th:utext="${exerciseInRound.difficulty}"></td>
				<td class="note" th:utext="${exerciseInRound.note}"></td>
				<td class="roundId" th:utext="${exerciseInRound.round.id}" style="display:none;"></td>
				<td class="exerciseExecId" th:utext="${exerciseInRound.exerciseId}" style="display:none;"></td>
				<td><a th:href="@{/deleteExerciseInRound/{exerciseInRoundId}/{id}(exerciseInRoundId=${exerciseInRound.ExecInRound_Id}, id=${id})}"><button type="button" class="btn btn-danger">Briši</button></a></td>
			</tr>
		</tbody>
	</table>
</div>
	<input type="hidden" class="id" name="id" th:value="${id}"/>
</form>

</body>
</html>