<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="../../scripts/jquery-3.2.1.min.js"></script>
<script src="../../scripts/bootstrap.min.js"></script>
<script src="../../scripts/functions.js"></script>
<meta charset="UTF-8"/>
<title>Treninzi</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<script>
	$(document).on("click", "#tr-entity-list", function(event) {
		highlightRow(this)
	});
	
	$(document).on("click", "#search", function(event) {
		$("#hidden_input").css('display','table-row');
	});
	
	$(window).scroll(function() {
		  sessionStorage.scrollTop = $(this).scrollTop();
		});

		$(document).ready(function() {
		  if (sessionStorage.scrollTop != "undefined") {
		    $(window).scrollTop(sessionStorage.scrollTop);
		  }
	});

	function sync(item){
		name = item.find(".clientName").html()
	    familyName = item.find(".clientFamilyName").html()
	    id = item.find(".clientId").html()
	    $("#name").val(name);
	    $("#familyName").val(familyName);
	    $("#id").val(id);
	}
</script>
</head>
<body class="gradient">
	<div class="alert div1" role="alert">
		<h1 align="center">Treninzi u sistemu</h1>
	</div>
	<a style="padding-left:3em" th:href="@{/addTrainingToClient}"><button class="btn btn-success">Kreiraj trening</button></a>
	<br/>
	<br/>
	<br/>
<form th:action="@{/filterTrainings}" method="POST">
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Datum</th>
			<th scope="col">Redni broj</th>
			<th scope="col">Klijenti</th>
			<th scope="col"></th>
		</tr>
	</thead>	
	<tbody>
		<tr	id="tr-entity-list" th:each = "training : ${trainings}">
			<td scope="row" class="clientId" th:utext="${training.date}"></td>
			<td class="trainingNumberOfTra" th:utext="${training.numberOfTrainings}"></td>
			<td class="trainingClientName" th:utext="${training.client}"></td>
			<td class="trainingClientName" th:utext="${training.id}" style="display:none;"></td>
			<td><a th:href="@{/deleteTraining/{id}/(id=${training.id})}"><button type="button" class="btn btn-danger">Briši</button></a></td>
		</tr>
	</tbody>
</table>
</form>
</body>
</html>