<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Treninzi</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<script>
	$(document).on("click", "#tr-entity-list", function(event) {
		highlightRow(this)
	});
	
	$(document).on("click", "#search", function(event) {
		$("#hidden_input").css('display','table-row');
	});

	function sync(item){
		name = item.find(".clientName").html()
	    familyName = item.find(".clientFamilyName").html()
	    id = item.find(".clientId").html()
	    $("#name").val(name);
	    $("#familyName").val(familyName);
	    $("#id").val(id);
	}
</script>
</head>
<body class="gradient">
	<div class="alert div1" role="alert">
		<h1 align="center">Treninzi u sistemu</h1>
	</div>
	<a th:href="@{/addTrainingToClient}"><button class="btn btn-success">Create training</button></a>
	<a th:href="@{/trainingCreationHandlerDirect}"><button class="btn btn-success">Create training directly</button></a>
	<br/>
	<br/>
	<br/>
<form th:action="@{/filterTrainings}" th:object="${trainingDTOSearch}" method="POST">
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Datum</th>
			<th scope="col">Redni broj</th>
			<th scope="col">Klijenti</th>
			<th scope="col"></th>
		</tr>
		<tr id="hidden_input">
			<td><input /></td>	
			<td><input th:field="*{date}"/></td>
			<td><input th:field="*{numberOfTrainings}"/></td>
			<td><button type="submit" class="btn btn-secondary">Filtriraj</button></td>
		</tr>
	</thead>	
	<tbody>
		<tr	id="tr-entity-list" th:each = "training : ${trainings}">
			<td scope="row" class="clientId" th:utext="${training.date}"></td>
			<td class="trainingNumberOfTra" th:utext="${training.numberOfTrainings}"></td>
			<td class="trainingClientName" th:utext="${training.client}"></td>
		</tr>
	</tbody>
</table>
</form>
</body>
</html>