<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="../../scripts/jquery-3.2.1.min.js"></script>
<script src="../../scripts/bootstrap.min.js"></script>
<script src="../../scripts/functions.js"></script>
<script src="../../scripts/filterTable.js"></script>
<script src="../../scripts/ajaxFunctions.js"></script>
<meta charset="UTF-8"/>
<title>Treninzi</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<script>

$(document).on("click", "#tr-entity-list", function(event) {
	highlightRow(this)
});
	
$(document).on("click", "#tr-entity-list-modal", function(event) {
	highlightRow1(this)
	$('#myModal').modal('hide')
	$("#hiddenButtonToCopyTraining").click()
});
	
$(document).on("click", "#search", function(event) {
	$("#hidden_input").css('display','table-row');
});

/*<![CDATA[*/	

function sortByTwoColumns(row1, row2) {
	var v1, v2, r;
	v1 = $(row1).find("td:eq(0)").text();
	v2 = $(row2).find("td:eq(0)").text();

	if(new Date(v1) > new Date(v2)){
		r = - 1;
	} else if(new Date(v1) < new Date(v2)) {
		r = 1;
	} else { 
		r = 0;
	}
			
	if(r === 0){
		v1 = $(row1).find("td:eq(3)").text();
		v2 = $(row2).find("td:eq(3)").text();
		if (v1 < v2) {
			r = -1;
		} else if (v1 > v2) {
			r = 1;
		} else {
			r = 0;
		}
	}
	return r;
}
		
function sortTable(){
	var rows = $("#training tbody tr").detach().get();
	rows.sort(sortByTwoColumns);
	$("#training tbody").append(rows);
}
		
function filterTable(selectedName){
	var input, filter, table, tr, td, i, j;
	input = selectedName;
	filter = input.toUpperCase();

	$("tr").each(function(){
	var idEntityList = $(this).prop('id')
		if(idEntityList == "tr-entity-list"){
			td = $(this).find("td")[2];
		    if (td) {
				if (td.innerHTML.toUpperCase().indexOf(filter) > -1) { //TODO replace innerHTML with JQuery equivalent
					$(this).show();
				} else {
					$(this).hide();
				}
			}
		}
	});
}

function sortTableFolders(){
	var rows = $("#myTableExercisesX tbody tr").detach().get();
	rows.sort(sortByColumn);
	$("#myTableExercisesX tbody").append(rows);
}

function sortByColumn(row1, row2) {
		var v1, v2, r;
		v1 = $(row1).find("td:eq(0)").text();
		v2 = $(row2).find("td:eq(0)").text();
		if (v1 < v2) {
	        r = -1;
	      } else if (v1 > v2) {
	        r = 1;
	      } else {
	        r = 0;
	      }
	return r;
}
/*]]>*/

$(document).on("click", "#copyTrainingButton", function(event) {
	treID = item.find(".idOfCopiedTraining").html()
});

$(window).scroll(function() {
	sessionStorage.scrollTop = $(this).scrollTop();
});

$(document).ready(function() {
	if (sessionStorage.scrollTop != "undefined") {
		$(window).scrollTop(sessionStorage.scrollTop);
	}
	var errorVariable = $("#errorMessage").val();
	if(errorVariable == 0){
		$("#pdfErrorMessage").hide();
	} else {
		$("#pdfErrorMessage").show();
	}
		sortTableFolders()
});

$(document).on("click", "#PDFButton", function() {
	var trainingId = $(this).parent().parent().find(".trainingId").html();
	PDFprintAjaxListPage(trainingId);
});

function sync(item){
	name = item.find(".clientName").html()
    familyName = item.find(".clientFamilyName").html()
	idTrainingCopied = item.find(".trainingId").html()
	idClientToCopy = item.find(".clientSelectId").html()
	afterSync = item.find("#idOfCopiedTraining").html()
	$("#idOfCopiedTraining").val(idTrainingCopied);
	$("#idOfClientToCopyTo").val(idClientToCopy);
    $("#name").val(name);
    $("#familyName").val(familyName);
    $("#id").val(afterSync);
}
	
function highlightRow1(row){
	if(!$(row).hasClass("header")){
		$(row).parent().find(".highlighted").removeClass("highlighted");
    	$(row).addClass("highlighted");
    	sync1($(row));
    }
}

function highlightRowFilterSelect(row){
	if(!$(row).hasClass("header")){
		$(row).parent().find(".highlighted").removeClass("highlighted");
    	$(row).addClass("highlighted");
    }
}
	
function sync1(item){
	name = item.find(".clientName").html()
    familyName = item.find(".clientFamilyName").html()	    
	idClientToCopy = item.find(".clientSelectId").html()		
	$("#idOfClientToCopyTo").val(idClientToCopy);
    $("#name").val(name);
    $("#familyName").val(familyName);
}
	
</script>
</head>
<body class="gradient">
	<div class="alert div1" role="alert">
	<div th:include="fragments/header :: header"></div>
		<h1 align="center">Treninzi u sistemu</h1>
	</div>

	<br/>
	<br/>
	<br/>
	<!-- Modal -->
	
	
	<div class="container-responsive">
	<form id="clientTrainingFolder" th:action="@{/clientTrainingSubmit}" method="POST">
	     <table style="width:100%" id = "myTableExercisesX" class = "table table-responsive">
		<thead>
			<tr>
				<th align="center" scope="col">Klijenti :</th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr align="center" class="modal-table-coloringX floating-box trBox" id="tr-entity-list-modalX" th:each = "client : ${clients}">
				<td class="clientSelectNameFamilinameFolder">
							<a class="folderName" th:href="@{/clientTrainingSubmit/{id}/(id=${client.id})}"><img src="/images/folder-170A.png"/><br/>
							<span align="bottom" th:utext="${client.name + ' ' + client.familyName}"/></a></td>	
				<td class="clientSelectNameFolder" th:utext="${client.name}" style="display:none;"></td>
				<td class="clientSelectId" th:utext="${client.id}" style="display:none;"></td>
			</tr>
		</tbody>
	</table>
	</form>
	</div>
	
	
<form th:action="@{/copyTraining}" method="GET">
	<input id="idOfCopiedTraining" type="hidden" th:value="${idOfCopiedTraining}" name="idOfCopiedTraining"/>
	<input id="idOfClientToCopyTo" type="hidden" th:value="${idOfClientToCopyTo}" name="idOfClientToCopyTo"/>
	<button id="hiddenButtonToCopyTraining" type="submit" style="display:none;">Kopiraj traning</button>
</form>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" >

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Klijenti</h4>
      </div>
      <div class="modal-body">
      
 
      
<input type="text" id="inputFilterByName" onkeyup="filterModalClient(0)" placeholder="Filtriranje po nazivu.."/>
<input type="text" id="inputFilterByFamilyName" onkeyup="filterModalClient(1)" placeholder="Filtriranje po prezimenu.."/>
<input type="text" id="inputFilterByEmail" onkeyup="filterModalClient(2)" placeholder="Filtriranje po email.."/>
<input type="text" id="inputFilterByPhone" onkeyup="filterModalClient(3)" placeholder="Filtriranje po broju telefona.."/>
<div class="container-responsive">
	<table style="width:100%" id = "myTableExercises" class = "table table-responsive">
		<thead>
			<tr>
				<th scope="col">Ime:</th>
				<th scope="col">Prezime:</th>
				<th scope="col">Email:</th>
				<th scope="col">Broj telefona:</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr class="modal-table-coloring" id="tr-entity-list-modal" th:each = "client : ${clients}">
				<td class="clientSelectName" th:utext="${client.name}"></td>
				<td class="clientSelectFamilyName" th:utext="${client.familyName}"></td>
				<td class="clientSelectEmail" th:utext="${client.email}"></td>
				<td class="clientSelectPhoneNumber" th:utext="${client.phoneNumber}"></td>
				<td class="clientSelectId" th:utext="${client.id}" style="display:none;"></td>
			</tr>
		</tbody>
	</table>
</div>

      </div>
     
    </div>
  </div>
</div>
	
</body>
</html>